*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: #24292e;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: minmax(120px, auto) repeat(5, 70px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 25px;
  outline: none;
  border: none;
  background: #ffffff;
}

.calculator-grid > button:hover {
  background: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background: #3f51b5;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: #ffffff;
  font-size: 35px;
}

.output .current-operand {
  color: #ffffff;
  font-size: 30px;
}