@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    color: #fff;
    background: #24292e;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 50px;
}

.preload-wr {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    background: #24292e;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.preload {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.preload__first-line,
.preload__second-line,
.preload__third-line,
.preload__fourth-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

.preload__first-line {
    animation: first-line 1s linear infinite;
    border-top: 5px solid #3f51b5;
    transform: rotateY(45deg) rotateX(45deg) rotateZ(0deg);
}

.preload__second-line {
    animation: second-line 1s linear infinite;
    border-left: 5px solid #e91e63;
    transform: rotateY(45deg) rotateX(-45deg) rotateZ(0deg);
}

.preload__third-line {
    animation: third-line 1s linear infinite;
    border-right: 5px solid #ffc107;
    transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
}

.preload__fourth-line {
    animation: fourth-line 1s linear infinite;
    border-bottom: 5px solid #ffffff;
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
}

/* animation */
/*----------------------------------------------------------------*/

@keyframes first-line {
    100% {
        transform: rotateY(45deg) rotateX(45deg) rotateZ(360deg);
    }
}

@keyframes second-line {
    100% {
        transform: rotateY(45deg) rotateX(-45deg) rotateZ(360deg);
    }
}

@keyframes third-line {
    100% {
        transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
    }
}

@keyframes fourth-line {
    100% {
        transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
    }
}